/* ##################################   Initial imports   ################################### */
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Sofia&display=swap');


/* ##################################   Basic declarations   ################################### */

:root {
    --headfoot-background-color: orangered;
    --headfoot-font-color: ghostwhite;
}

.center-text {
    text-align: center;
}

.blood {
    background-color: red;
}

.grass {
    background-color: greenyellow;
}

.gem {
    background-color: cornflowerblue;
}


/* ##################################   Miscellaneous         ################################### */

.w-max {
    width: 100%;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}

/* ##################################   Header & Footer         ################################### */

header {
    background: var(--headfoot-background-color);
    height: 60px;
}

header h1 {
    color: var(--headfoot-font-color);
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

footer {
    background: var(--headfoot-background-color);
    height: 200px;
}

footer h1 {
    font-family: 'MonteCarlo', cursive;
    color: var(--headfoot-font-color);
}
footer div p {
    color: var(--headfoot-font-color);
}

/* ##################################   Navigation         ################################### */

nav {
    background: var(--headfoot-background-color);
    height: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

flex-navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ##################################   Foods page         ################################### */

.food-category-selector {
    color: var(--headfoot-font-color);
    font-family: "Sofia", sans-serif;
    font-size: 25px;
}

.food-tag {
    color: cadetblue;
    font-size: 30px;
    font-family: 'MonteCarlo', cursive;;
}

.food-item-space {

    width: auto;
    /*height: 200px;*/
}


/* ##################################   Foods page  Grid       ################################### */
.food-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
    "food-img"
    "food-info";
    margin: 15px 0px;
}

.food-img {
    grid-area: food-img;
}

.food-info {
    grid-area: food-info;
    /*padding: 25px 0px;*/
}

@media only screen and (min-width: 600px) {
    .food-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
    "food-img food-info";
        margin: 15px 0px;
    }

    .food-img {
        grid-area: food-img;
    }

    .food-info {
        grid-area: food-info;
        padding: 25px 0px;
    }
}

